<div class="grid">
  <h1 class="col">Asignación de Permisos</h1>
  <div class="col-fixed mr-4 mt-4" style="width: 200px">
    <p-button
      (click)="openDialog()"
      label="Editar Permisos"
      severity="success"
    ></p-button>
  </div>
</div>

<div class="grid w-30rem align-items-center justify-content-center">
  <div class="col text-xl">Seleccione el usuario:</div>
  <p-dropdown
    class="col"
    [options]="usuarios"
    [(ngModel)]="usuarioSeleccionado"
    optionLabel="nombre"
    [showClear]="true"
    placeholder="Usuario"
  ></p-dropdown>
  <p-button
    class="col"
    (click)="traerALV()"
    label="Buscar"
    severity="info"
  ></p-button>
</div>

<h2 class="mt-2 text-blue-500">Permisos:</h2>
<div class="card">
  <p-pickList
    [source]="permisosDisponibles"
    [target]="permisosAsignados"
    sourceHeader="Disponibles"
    targetHeader="Asignados"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    breakpoint="1000px"
    (onMoveToTarget)="actualizarPermisos($event)"
    (onMoveAllToTarget)="actualizarPermisos($event)"
    (onMoveToSource)="quitarPermisos($event)"
    (onMoveAllToSource)="quitarPermisos($event)"
  >
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.nombre }}</span>
          <div class="flex align-items-center gap-2">
            <p>Clave:</p>
            <span>{{ product.clave }}</span>
          </div>
          <div>
            <p-tag
              [value]="product.accion"
              [severity]="getSeverity(product.accion)"
            ></p-tag>
          </div>
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>

<!-- <div class="flex mt-4 justify-content-center">
    <p-button  label="Actualizar Permisos" severity="primary"></p-button>
</div> -->
